* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    outline: none;
}

body {
    background-color: blueviolet;
}

/* Contêiner principal */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Box principal */
.box {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
  
}



.input-tarefa {
    width: 80%;  /* O input ocupa 80% do espaço */
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
 
}

.btn-add-tarefa {
    width: 15%; /* O botão ocupa 15% do espaço */
    height: 30px;
    background-color: #0033;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left:86%;
    margin-top:-6%;
   
}

.btn-add-tarefa:hover {
    opacity: 0.8;
}

.btn-add-tarefa:active {
    opacity: 0.6;
}

/* Lista de tarefas */
.lista-de-tarefas {
    width: 100%;
    list-style: none;
    margin-top: 20px;
}

h1 {
    font-size: 10px;
}

.tarefa {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.tarefa:hover img {
    opacity: 1;
}

.feita {
    background-color: #12eb66;
    text-decoration: line-through;
}

/* Ajustando a addBox */
.addBox {
    background-color: #d1d1d1;
    width: 340px;
    min-height: 60px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.input-add-lista {
    border: none;
    border-radius: 5px;
    width: 70%; /* O input da lista ocupa 70% */
    height: 30px;
    padding-left: 10px;
}

.btn-add-lista {
    border: none;
    border-radius: 5px;
    height: 30px;
    color: #fff;
    background-color: #0033;
    font-size: 15px;
    padding: 0 10px;
    cursor: pointer;
}

.btn-add-lista:hover {
    opacity: 0.8;
}

.btn-add-lista:active {
    opacity: 0.6;
}

.apagarBox {
    width: 20px;
    height: 20px;

}
img{
    width:25px;
}
h1{
    text-align:center;
    font-size: 20px;
    
}
.concluirBox{
    width:20px;
    
}
.teste{
    display: flex;
    justify-content: space-between;
}